
  body{
    background-image: url(https://www.freepik.com/free-photo/decorative-heart-sprinkles-copy-space_7598342.htm):
    backgrond-size: cover;
    text-align: center;
  }
  h4{
    color: red;
  }
  li{
    color: blue; 
  }
  strong{
    color: red;
  }
